<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bootstrap Form</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
      <link rel="stylesheet" href="css/all.css">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <h2 class="mb-4">Add Products</h2>
    <form action="/insert" method="POST" enctype="multipart/form-data" class="p-4 bg-white shadow-sm rounded">
      <div class="mb-3">
          <label for="prodname" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="prodname" name="prodname" placeholder="Enter Product Name" required />
      </div>
      <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" name="price" placeholder="Set a price" required />
      </div>
      <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Set quantity" required />
      </div>
      <div class="mb-3">
          <label for="description" class="form-label">Product Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
      </div>
      <div class="mb-3">
          <label for="image" class="form-label">Product Image</label>
          <input type="file" class="form-control" id="image" name="image" accept="image/*" required />
      </div>
      <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-success">Save</button>
          <a href="/index" type="button" class="btn btn-secondary">Back to List</a>
      </div>
  </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
